.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

body{
  margin: 0;
  padding: 0;
}

/* Shared Styles */

.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}
.container .header,
 section{
  margin-bottom: 80px;
}
.section-title{
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
}
p{
  font-size: 16px;
  font-weight: 400px;
  color: rgba(14, 14, 14, 0.7);
}
.btn-primary{
  font-size: 18px;
  font-weight: 600;
  color: #006A50;
  padding: 15px 30px;
  border-radius: 8px;
  border: 1px solid #006A50;
}
.btn-primary:hover{
  background: #006A50;
  color: #fff;
  border: none;
}
.btn-secondary{
  background: #006A50;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
}
.btn-secondary:hover{
  background: #fff;
  color: #006A50;
  border: 1px solid #000;
  cursor: pointer;
}

/* Navbar Styles (Header) */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
.nav-title{
font-size: 32px;
font-weight: bold;
color: #0E0E0E;
}

/* Banner Styles (Header) */

.banner{
  background-color: #C6E4D6;
  display: flex;
  justify-content: space-between;
  padding: 80px 60px;
  border-radius: 24px;
}
.banner-content{
max-width: 622px;
}
.banner-subtitle{
  font-size: 24px;
  font-weight: 500px;
  color: rgba(14, 14, 14, 0.5);
}
.banner-title{
  font-size: 56px;
  font-weight: bold;
  color: #0E0E0E;
}
.banner-img{
  max-width: 474.03px;
}

/* Pillar-Section Styles (Main)*/

.pillars-container {
  display: flex;
  gap: 24px;
}
.pillar{
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border: 1px solid #00000018;
}
.pillar-title{
  font-size: 20px;
  font-weight: bold;
  color: #0E0E0E;
  margin-bottom: 12px;
}
.pillars-container img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}

/* Vision-Section Styles (Main) */
.vision-container{
  display: flex;
  gap: 24px;
}
.vision{
  width: 410.67px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.vision img{
  width: 64px;
  height: 64px;
  border-radius: 8px;
}
.v1 {
  background-color: rgba(84, 144, 245, 0.2);
}
.v2{
  background-color: rgba(9, 161, 93, 0.274)
}
.v3{
  background-color: rgba(255, 196, 57, 0.281);
}

/* Button Styles (Main) */
.b1{
  background: #5490F5;
}
.b1:hover{
  color: #5490F5;
  border: 1px solid #5490F5;
}
.b2{
  background: #09A15C;
}
.b2:hover{
  color: #09A15C;
  border: 1px solid #09A15C;
}
.b3{
  background: #FFC239;
}
.b3:hover{
  color: #FFC239;
  border: 1px solid #FFC239;
}

/* Quotation Styles (Main) */

.quotation{
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
border-radius: 16px;
margin-top: 32px;
border: 1px solid #0000001f;
}
.quotation-content{
  font-size: 16px;
  font-weight: 400px;
  margin-bottom: 12px;
  background-image: url(images/quote-bg.png);
  background-repeat: no-repeat;
  background-position-y: 23px;
  background-position-x: 24px;
  padding: 48px 24px 10px 24px;
}
.chief-adviser{
  font-size: 20px;
  font-weight: 600px;
  padding-left: 24px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.position{
  font-size: 16px;
  font-weight: 400px;
  padding-left: 24px;
  padding-bottom: 48px;
}

/* Opinion-Table Styles */

.opinion-container{
 border: 1px solid #0000001f;
 padding: 32px;
 border-radius: 16px;
}
thead{
  background-color: #C6E4D6;
}
thead th {
  padding: 24px;
  font-size: 20px;
}
thead .heading1{
  text-align: left;
}
thead .heading2{
  text-align: right;
}
.opinion-table{
  border: 1px solid #0000001f;
  width: 100%;
  padding: 32px;
  /* display: block; */
  border-collapse: collapse;
}
tbody .option-td{
  width: 150px;
}
tr,
td {
  border: 1px solid #0000001f;
}
 tbody td{
  padding: 24px;
  font-size: 16px;
  font-weight: 600px;
  padding: 36px 24px;
}
tbody select{
  width: 150px;
  background-color: #C6E4D6;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500px;
}
tbody option{
  padding: 12.05px auto;
}
  

/* News Section */ 
.news .main-img {
  border-radius: 24px;
  width: 408px;
  height: 306px;
}
.news-container{
  margin-top: 32px;
}
.news {
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
  padding: 56px 48px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.075);
  border-radius: 24px;
}

/* News Button Styles */

.news-btn1{
  background:#4f0ba7b0;
  color: #fff;
}
.news-btn1:hover{
  background:#4f0ba71e;
  color: #4f0ba7b0;
  border: 1px solid #4f0ba7b0;
}
.news-btn2{
  background:#805804b6;
  color: #fff;
}
.news-btn2:hover{
  background: #8059041a;
  color: #805804b6;
  border: 1px solid #805804b6;
}
.news-btn3{
  background:#052c97c5;
  color: #fff;
}
.news-btn3:hover{
  background:#052c971e;
  color: #052c97c5;
  border: 1px solid #052c97c5;
}
/* Donate Section Styles */

.donate-section{
  text-align: center;
  
}
.donate-container{
  margin-bottom: 32px;
}
.amount-cards{
  display: flex;
  gap: 24px;
  justify-content: center;
}
.card{
  border: 1px solid #0000001f;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.075);
  padding: 20px 40px;
  border-radius: 16px;
  cursor: pointer;
}
.card h1 {
  font-size: 40px;
  font-weight: bold;
}
.card1{
  background-color: #c79b3d56;
}
.card1:hover{
  background-color: #c28605d5;
  color: #fff;
}
.card2{
  background-color: #C6E4D6;
}
.card2:hover{
  background-color: #047e45d3;
  color: #fff;
}
.card3{
  background-color: #0746bd1a;
}
.card3:hover{
  background-color: #0542b3ad;
  color: #fff;
}
.card4{
  background-color: #a340ac2d;
}
.card4:hover{
  background-color: #bd21a8d0;
  color: #fff;
}
.amount-input{
  margin: 32px auto;
  width: 100%;
  text-align: center;
  border: none;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.123);
  padding: 20px;
  display: block;
  border-bottom: 1px solid #ddd;
}

/* Form Section Styles */
.form-container{
  background-color: #C6E4D6;
  border-radius: 24px;
  text-align: center;
  padding: 80px 265px;
}
.form-input{
  display: flex;
  justify-content: center;
}
.email-input {
  width: 600px;
  padding: 18px 403px 18px 40px;
  border-radius: 8px 0 0 8px;
  border: none;
}
.btn-form{
  border-radius: 0 8px 8px 0;
  border: none !important;

}
.btn-form:hover{
  background:#006a501c;
}

/* Footer Section Styles */
footer{
  text-align: center;
  padding: 50px auto;
  margin-top: 80px;
}

.social-icon{
  display: flex;
  gap: 23px;
  justify-content: center;
  margin-bottom: 50px;
}
#h-line{
  opacity: 0.2;
}