.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

body{
  margin: 0;
  padding: 0;
}

/* Shared Styles */
.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}
.btn-primary{
  font-size: 18px;
  font-weight: 600;
  color: #006A50;
  padding: 15px 30px;
  border-radius: 8px;
}
.btn-primary:hover{
  background: #006A50;
  color: #fff;
}
.btn-secondary{
  background: #006A50;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
}
.btn-secondary:hover{
  background: #fff;
  color: #006A50;
}

/* Navbar Styles */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
.nav-title{
font-size: 32px;
font-weight: bold;
color: #0E0E0E;
}

/* Banner Styles */

.banner{
  background-color: #C6E4D6;
  display: flex;
  justify-content: space-between;
  padding: 80px 60px;
  border-radius: 24px;
}
.banner-content{
max-width: 622px;
}
.banner-subtitle{
  font-size: 24px;
  font-weight: 500px;
  color: rgba(14, 14, 14, 0.5);
}
.banner-title{
  font-size: 56px;
  font-weight: bold;
  color: #0E0E0E;
}
.banner-img{
  max-width: 474.03px;
}