.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

body{
  margin: 0;
  padding: 0;
}

/* Shared Styles */
.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}
.btn-primary{
  font-size: 18px;
  font-weight: 600;
  color: #006A50;
  padding: 15px 30px;
  border-radius: 8px;
}
.btn-primary:hover{
  background: #006A50;
  color: #fff;
}

/* Navbar Styles */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title{
font-size: 32px;
font-weight: bold;
color: #0E0E0E;
/* margin-left: 160px; */
}

